{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<img style="width: 350px; height: 200px;" src="{{ movie.image.url }}" alt="">
<h2>{{ movie.title }}</h2>
<p>Жанр: {{ movie.genre.name }}</p>
<p>Дата выпуска: {{ movie.release_date }}</p>
<p>Режиссер: <a href="{% url 'director_detail' movie.director.slug %}">{{ movie.director.name }}</a></p>
<p>
    Актеры: 
    {% for actor in movie.actors.all %}
    <a href="{% url 'actor_detail' actor.slug %}">
        {{ actor.name }}
    </a>
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p>Описание: {{ movie.description }}</p>
<video width="400" controls="controls">
    <source src="{{ movie.video.url }}" type="video/mp4">
</video>
<p>Оценка: {{ movie.rating|default:"Пока оценок нет" }}</p>

{% if messages %}
<ul> 
    {% for message in  messages%}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if request.user.is_authenticated %}
    <form method='post' action='{% url "rate_movie" movie.slug %}'>
        {% csrf_token %}

        <label for='rating'>Rate the movie (1-5):</label>
        <select name='rating' id='rating'>
            {% for i in '12345'|make_list %}
                <option value='{{ i }}'>{{ i }}</option>
            {% endfor %}
        </select>
        <button type='submit'>Submit Rating</button>
    </form>
{% endif %}

{% endblock %}